# Python artifacts (short version)
*.py[cod]

*.egg-info/
.ipynb_checkpoints/
.venv/
__pycache__/

# Editor backups and such
*~
\#*#
.#*
.*.sw[a-p]
/notebooks_and_retired_scripts/notebooks/fuv_offset_pics/
